.gallery {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  position: relative;
  margin-bottom: 32px;
  margin-right: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  font-weight: 500;
  font-size: 13px;
  line-height: 144%;
  color: #e6e6e6;
  text-align: center;

  &:nth-child(3n) {
    margin-right: initial;

    @media (max-width: 1150px) {
      margin-right: 24px;
    }

    @media (max-width: $mobile-width) {
      margin-right: auto;
      margin-bottom: 18px;
    }
  }

  &:nth-child(2n) {
    @media (max-width: 1150px) {
      margin-right: initial;
    }

    @media (max-width: $mobile-width) {
      margin-right: auto;
    }
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
  }

  &--hit {
    a {
      &::before {
        content: "Хит";
        font-weight: 500;
        font-size: 12px;
        line-height: 144%;
        position: absolute;
        top: 15px;
        right: 13px;
        width: 70px;
        height: 30px;
        padding: 3px 12px 3px 30px;
        border: 2px solid rgba(242, 137, 15, 0.74);
        border-radius: 25px;
        background-image: url("../img/Star.svg");
        background-repeat: no-repeat;
        background-position: 12px 4px;
        z-index: 5;
      }
    }
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &--cabin {
    img {
      clip: rect(auto, auto, 220px, auto);
    }
  }

  &--boundary {
    img {
      clip: rect(auto, auto, auto, 2px);
    }
  }

  h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #ffffff;
    margin: 0 0 12px 0;
  }

  p {
    margin: 0 0 10px 0;
    padding-left: 22px;
    position: relative;
    opacity: 0.8;

    &::before {
      content: "";
      position: absolute;
      width: 11px;
      height: 14px;
      top: 0;
      left: 0;
      background-image: url("../img/location-small.svg");
      opacity: 1;
    }
  }

  a {
    display: block;
    width: 344px;
    height: 232px;

    padding: 129px 61px 20px 19px;
    color: inherit;
    text-decoration: none;
    background-repeat: no-repeat;
    text-align: left;
    margin: 0 auto;

    @media (max-width: $mobile-width) {
      width: 328px;
    }
  }

  &--mansion {
    a {
      padding-top: 100px;
    }
  }

  &--experiment {
    a {
      padding-top: 100px;
    }
  }
}

.gallery__quantity {
  display: inline-flex;
  position: relative;
  padding-left: 21px;
  padding-right: 12px;
  margin-right: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);

  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 16px;
    top: 0;
    left: 0;
    background-image: url("../img/person.svg");
  }

  span {
    opacity: 0.8;
  }
}

.gallery__dificulty {
  display: inline-flex;
  position: relative;
  padding-left: 24px;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    background-image: url("../img/puzzle.svg");
  }

  span {
    opacity: 0.8;
  }
}
