.intro {
  max-width: 922px;
  margin-top: 115px;
  margin-left: 10%;

  @media (max-width: $mobile-width) {
    margin: 0;
    margin-top: 342px;
    text-align: center;
  }

  h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 110%;
    margin: 0 0 30px 0;

    @media (max-width: $mobile-width) {
      font-size: 36px;
      text-align: center;
      margin: 0 0 35px 0;
    }
  }

  p {
    font-weight: 500;
    line-height: 150%;
    color: #e6e6e6;
    max-width: 468px;
    margin: 0 0 66px 0;

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  .button {
    @media (max-width: $mobile-width) {
      font-size: 14px;
      line-height: 16px;
      padding: 15px 32px;
    }
  }
}
