.main-navigation {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 139px;
  margin-bottom: -10px;

  @media (max-width: 1120px) {
    flex-wrap: wrap;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    margin: initial;
  }
}

.main-navigation__item--active {
  a {
    color: $primary-color;
  }
}

.main-navigation__item {
  margin-bottom: 10px;
}

.main-navigation__item:not(:last-of-type) {
  margin-right: 48px;

  @media (max-width: $tablet-width) {
    margin-right: initial;
    margin-bottom: 40px;
  }
}
