.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 32px 19px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 51;

  @media (max-width: $mobile-width) {
    display: none;
    padding: 0 16px 35px 16px;
  }
}

.page-footer__question {
  position: relative;
  text-decoration: none;
  border-bottom: 1px dashed #e6e6e6;
  padding-bottom: 0.5px;
  font-size: 12px;
  line-height: 144%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #e6e6e6;

  &:hover {
    color: $primary-color;
    border-bottom: 1px dashed $primary-color;

    &::before {
      content: "?";
      position: absolute;
      left: -8px;
    }
  }
}
