.quest {
  max-width: 680px;
  margin-top: 10vh;
  margin-left: 44%;

  @media (max-width: $tablet-width) {
    margin: 10vh auto 0 auto;
  }

  @media (max-width: $mobile-width) {
    position: relative;
    margin: initial;
    padding: 0 16px;
    padding-top: 339px;
    padding-bottom: 58px;
  }

  &--mansion {
    @media (max-width: $mobile-width) {
      padding-top: 232px;
    }
  }

  &--experiment {
    @media (max-width: 1200px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: $mobile-width) {
      padding-top: 312px;
    }
  }

  h1 {
    font-weight: 900;
    font-size: 92px;
    line-height: 95%;
    margin: 0;
    margin-bottom: 37px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #ffffff;

    @media (max-width: $mobile-width) {
      font-size: 42px;
      line-height: 110%;
      margin-bottom: 16px;
    }
  }

  p {
    max-width: 520px;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #e6e6e6;
    margin: 0;
    margin-bottom: 43px;
    margin-left: 31px;

    @media (max-width: $mobile-width) {
      margin-bottom: 23px;
      margin-left: initial;
    }

    br {
      @media (max-width: $mobile-width) {
        display: none;
      }
    }
  }

  .button {
    padding: 22px 47px 23px 48px;
    margin-left: 31px;

    @media (max-width: $mobile-width) {
      margin-left: initial;
    }
  }
}

p.quest__type {
  font-weight: 500;
  font-size: 14px;
  line-height: 144%;
  color: $primary-color;
  margin: 0;
  margin-bottom: 8px;
  margin-left: 5px;

  &--mansion {
    margin-bottom: 15px;
  }
}

.quest__info {
  font-size: 14px;
  line-height: 144%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #e6e6e6;

  margin-bottom: 27px;
  margin-left: 31px;

  @media (max-width: $mobile-width) {
    max-width: 312px;
    margin: 0 auto 20px auto;
    padding: 0 8px;
    text-align: center;
  }
}

.quest__home {
  display: none;
  position: absolute;
  top: 0;
  left: 30px;

  font-weight: bold;
  font-size: 12px;
  line-height: 144%;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #e6e6e6;
  text-decoration: none;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 10px;
    left: -14px;
    top: 1px;
    background-image: url("../img/arrow-left.svg");
  }
}

.quest__time {
  display: inline-flex;
  position: relative;
  padding-left: 28px;
  padding-right: 24px;
  margin-right: 24px;
  border-right: 1px solid rgba(255, 255, 255, 0.36);

  @media (max-width: $mobile-width) {
    width: 72px;
    padding-left: initial;
    padding-right: initial;
    padding-top: 32px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-image: url("../img/clock.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: $mobile-width) {
      left: 15px;
    }
  }
}

.quest__quantity {
  display: inline-flex;
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: 24px;
  border-right: 1px solid rgba(255, 255, 255, 0.36);

  @media (max-width: $mobile-width) {
    width: 72px;
    padding: initial;
    padding-top: 32px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 21px;
    top: 0;
    left: 0;
    background-image: url("../img/person.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: $mobile-width) {
      left: 15px;
    }
  }
}

.quest__dificulty {
  display: inline-flex;
  position: relative;
  padding-left: 32px;

  @media (max-width: $mobile-width) {
    width: 72px;
    padding: initial;
    padding-top: 32px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    top: 0;
    left: 0;
    background-image: url("../img/puzzle.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: $mobile-width) {
      left: 23px;
    }
  }
}
