.select {
  margin: 48px 10% 0;

  @media (max-width: $mobile-width) {
    margin: 32px 0 0 0;
    padding: 0 16px;
  }

  h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 110%;
    color: #ffffff;

    margin: 0 0 48px 0;

    @media (max-width: $mobile-width) {
      font-size: 36px;
    }
  }

  > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 144%;
    color: $primary-color;

    margin: 0 0 5px 0;
  }
}

.select__list {
  @include list-reset();
  display: flex;
  margin-bottom: 39px;

  @media (max-width: $mobile-width) {
    overflow-x: scroll;
  }
}

.select__item {
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #e6e6e6;
  padding: 0 40px 0 0;
  margin-right: 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.16);

  &:last-of-type {
    border: none;
    margin-right: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;

    span {
      margin-left: 12px;
    }
  }

  &--active {
    a {
      span {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          border-bottom: 2px solid #f2890f;
          width: 100%;
        }
      }
    }
  }
}
