html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 74px 0 0 0;
  height: 100%;
  font-size: 17px;
  background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%) no-repeat;
  color: #ffffff;
  font-family: $font-stack;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;

  &.index {
    background: url("../img/mainBg.jpg") no-repeat;
    background-size: cover;
    height: 100vh;

    @media (max-width: $mobile-width) {
      background: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%) no-repeat, url("../img/mainBg-mobile.jpg") no-repeat center 0;
      background-size: cover, cover;
      min-height: 640px;
    }
  }

  &.maniack {
    background: url("../img/maniack.jpg") no-repeat;
    background-size: cover;
    height: 100vh;

    @media (max-width: $mobile-width) {
      background: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%) no-repeat, url("../img/maniack-mobile.jpg") no-repeat center 0;
      background-color: #1a140d;
      background-size: cover, contain;
      height: 100%;
    }
  }

  &.mansion {
    background: url("../img/mansion.jpg") no-repeat;
    background-size: cover;
    height: 100vh;

    @media (max-width: $mobile-width) {
      background: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%) no-repeat, url("../img/mansion-mobile.jpg") no-repeat center 0;
      background-color: #1a140d;
      background-size: cover, contain;
      height: 100%;
    }
  }

  &.ritual {
    background: url("../img/ritual.jpg") no-repeat;
    background-size: cover;
    height: 100vh;

    @media (max-width: $mobile-width) {
      background: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%) no-repeat, url("../img/ritual-mobile.jpg") no-repeat center 0;
      background-color: #1a140d;
      background-size: cover, contain;
      height: 100%;
    }
  }

  &.experiment {
    background: url("../img/experiment.jpg") no-repeat;
    background-size: cover;
    height: 100vh;

    @media (max-width: $mobile-width) {
      background: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%) no-repeat, url("../img/experiment-mobile.jpg") no-repeat center 0;
      background-color: #1a140d;
      background-size: cover, contain;
      height: 100%;
    }
  }

  &.bodybook {
    background: url("../img/orderBg.jpg") no-repeat;
    background-size: cover;
    height: 100vh;

    @media (max-width: $mobile-width) {
      background: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%),
        url("../img/orderBg-mobile.png") no-repeat center 0;
      background-color: #1a140d;
      background-size: cover, cover;
      height: 100%;
    }
  }

  &.allquests {
    .page-header {
      background: #1f1d1d;

      &--opened {
        background-color: transparent;
      }
    }
  }

  &.bodynavigation {
    background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%) no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

.overflow-hidden {
  overflow: hidden;
}
