$mobile-width: 767px;
$tablet-width: 1023px;
$font-stack: "Raleway", "Arial", sans-serif;
$gradient: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150e 89.63%, #1a140d 106.79%);
$primary-color: #f2890f;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
